<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.insa.test.dao.InsaDao" >

 
   	 <!-- 조회 -->
	<select id="insaList" resultType="Insa" parameterType="hashmap">
	<![CDATA[
    SELECT * FROM 
	(SELECT ROWNUM num , sub_is.* FROM
	(SELECT * FROM INSA ORDER BY sabun DESC) sub_is)
	WHERE num >= #{startRow} AND num <=#{endRow}
	]]>
      
   </select>
   
   <!-- 게시글 수 count -->
   <select id="getInsaCount"  resultType="int">
    SELECT 
    	count(sabun) 
   	 FROM INSA  
   </select>
   
   
   <select id="searchList" parameterType="Insa"  resultMap="insaResultMap">
   	SELECT sabun , name , reg_no , hp ,
 	(SELECT name  FROM INSA_COM WHERE gubun = 'A03' and INSA_COM.code = INSA.pos_gbn_code) AS pos_gbn_code,
 	join_day , retire_day, put_yn, salary FROM INSA ORDER BY sabun DESC ;
 	<where>
    <if test="sabun!= null and sabun != '' ">  sabun like || #{sabun} || '%'   </if>
    <if test="name!= null and name != '' ">  AND name like || #{name} || '%' </if>
    <if test = "join_type !=null and join_type  != '' ">  AND join_day like '%'||#{joinType} || '%'</if>
    <if test = "put_yn !=null and put_yn != '' "> AND put_yn like '%' || #{putYn}|| '%'</if>
    <if test = "pos_gbn_code != null and pos_gbn_code != '' ">AND pos_gbn_code like '%' ||#{posGbnCode} || '%'</if>
    <if test = "join_day != null and join_day != ''">AND join_day like '%'||#{joinDay} ||'%'</if>
    <if test = " retire_day != null and retire_day ! ='' ">ADD retire_day like '%'||#{retireDay}||'%'</if>
    <if test =" join_gbn_cide != null and join_gbn_code != '' ">AND pos_gbn_code like '%'|| #{posGbnCode} ||'%'</if>
 </where>
   </select>
   
   <select id="getGbnName" parameterType="string" >
   
  SELECT 
	(SELECT NAME FROM INSA_COM  WHERE a.sabun = CODE AND GUBUN  = 'A03' ) AS  pos_gbn_name 
 FROM INSA a;

   </select>
   
   
   <!-- 공통코드 테이블 -->
   
   <select id="mTypeList"  resultType="insaCom" parameterType="hashmap">
   		SELECT * FROM INSA_COM 
   		WHERE gubun = 'A01'
   </select>
   
   <select id="milLevelList"  resultType="insaCom" parameterType="hashmap">
   		SELECT * FROM INSA_COM 
   		WHERE gubun = 'A02'
   </select>
   
   <select id="posGbnCodeList"  resultType="insaCom" parameterType="hashmap">
   		SELECT * FROM INSA_COM 
   		WHERE gubun = 'A03'
   </select>
   
   <select id="deptCodeList"  resultType="insaCom" parameterType="hashmap">
   		SELECT * FROM INSA_COM 
   		WHERE gubun = 'A04'
   </select>
   
   <select id="joinGbnCodeList"  resultType="insaCom" parameterType="hashmap">
   		SELECT * FROM INSA_COM 
   		WHERE gubun = 'A05'
   </select>
   
   <select id="joinTypeList"  resultType="insaCom" parameterType="hashmap">
   		SELECT * FROM INSA_COM 
   		WHERE gubun = 'A06'
   </select>
   
   <select id="gartLevelList"  resultType="insaCom" parameterType="hashmap">
   		SELECT * FROM INSA_COM 
   		WHERE gubun = 'A07'
   </select>
   
   <select id="kosaClassCodeList" resultType="insaCom" parameterType="hashmap">
   		SELECT * FROM INSA_COM 
   		WHERE gubun = 'A08'
   </select>
   
   
   <select id="maxSabunNumber" resultType="int" >
   		SELECT MAX(sabun)+1 FROM INSA
   </select>
   
  <!--  사번이 있는지를 조회하는 쿼리 -->
   <select id="countSabun" resultType="int" >
   		SELECT count(*)
   		 FROM INSA
   		WHERE sabun = #{sabun, jdbcType=NUMERIC}
   	 </select>
   
   <!-- 인사정보 입력-->
   <insert id="insertInsa" parameterType="Insa">
   INSERT INTO INSA (sabun, join_day, retire_day, put_yn, name, reg_no, eng_name, phone, hp, carrier,
			pos_gbn_code, cmp_reg_no,cmp_reg_image, sex, years,email, zip, addr1, addr2,dept_code, join_gbn_code,
			id, pwd, salary, kosa_reg_yn, kosa_class_code,mil_yn, mil_type,mil_level,mil_startdate,mil_enddate,
			join_type, gart_level, self_intro, crm_name, profile_image, carrier_image)
	
   values(#{sabun}, #{joinDay ,jdbcType=VARCHAR}, #{retireDay,jdbcType=VARCHAR}, #{putYn,jdbcType=VARCHAR},
    #{name,jdbcType=VARCHAR}, #{regNo,jdbcType=VARCHAR}, 
   			#{engName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{hp,jdbcType=VARCHAR}, 
   			#{carrier,jdbcType=VARCHAR}, #{posGbnCode,jdbcType=VARCHAR}, #{cmpRegNo,jdbcType=VARCHAR},
   			 #{cmpRegImage,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
   			#{years}, #{email,jdbcType=VARCHAR}, #{zip,jdbcType=VARCHAR},  #{addr1,jdbcType=VARCHAR},
   			 #{addr2,jdbcType=VARCHAR}, #{deptCode,jdbcType=VARCHAR}, #{joinGbnCode,jdbcType=VARCHAR},
   			  #{id,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR},
   			 #{salary}, #{kosaRegYn , jdbcType=VARCHAR}, #{kosaClassCode, jdbcType=VARCHAR}, #{milYn ,jdbcType=VARCHAR}, 
   			 #{milType, jdbcType=VARCHAR}, #{milLevel, jdbcType=VARCHAR}, #{milStartdate ,jdbcType=VARCHAR},
   			  #{milEnddate ,jdbcType=VARCHAR}, #{joinType,jdbcType=VARCHAR},  #{gartLevel,jdbcType=VARCHAR},
   			   #{selfIntro,jdbcType=VARCHAR}, #{crmName,jdbcType=VARCHAR}, 
   			  #{profileImage, jdbcType=VARCHAR}, #{carrierImage, jdbcType=VARCHAR})
   </insert>


   
   <select id="detailInsa" resultType="Insa" resultMap="insaResultMap">
      select
       * 
       from INSA
       where sabun = #{sabun}
   </select>
   
   <update id="updateInsa"  parameterType="Insa">
      UPDATE INSA
         SET
	         name = #{name ,jdbcType=VARCHAR}, reg_no = #{regNo}, eng_name = #{engName}, phone = #{phone},
	         hp=#{hp}, carrier=#{carrier,jdbcType=VARCHAR}, pos_gbn_code=#{posGbnCode}, cmp_reg_no=#{cmpRegNo,jdbcType=VARCHAR},
	         cmp_reg_image=#{cmpRegImage,jdbcType=VARCHAR}, sex = #{sex}, years=#{years}, email =#{email}, zip=#{zip},
	         addr1 = #{addr1}, addr2 = #{addr2}, dept_code = #{deptCode}, join_gbn_code=#{joinGbnCode},
	         id=#{id}, pwd = #{pwd}, salary = #{salary}, kosa_reg_yn = #{kosaRegYn}, kosa_class_code=#{kosaClassCode},
	         mil_yn = #{milYn}, mil_type=#{milType}, mil_level = #{milLevel}, mil_startdate = #{milStartdate},
	         mil_enddate = #{milEnddate,jdbcType=VARCHAR}, join_type = #{joinType}, gart_level=#{gartLevel},
	          self_intro=#{selfIntro, jdbcType=VARCHAR}, crm_name=#{crmName,jdbcType=VARCHAR},
	           profile_image=#{profileImage,jdbcType=VARCHAR}, carrier_image=#{carrierImage,jdbcType=VARCHAR}
         WHERE sabun = #{sabun, jdbcType=NUMERIC}
   </update>
   
   <delete id="deleteInsa">
      delete from INSA
      where sabun = #{sabun}
   </delete>
   
   
   <resultMap id="insaResultMap" type="Insa">
      <id property="sabun" column="sabun"/>
      <result property="name" column="name"/>
      <result property="engName" column="eng_name"/>
      <result property="id" column="id"/>
      <result property="pwd" column="pwd"/>
      <result property="phone" column="phone"/>
      <result property="hp" column="hp"/>
      <result property="regNo" column="reg_no"/>
      <result property="years" column="years"/>
      <result property="sex" column="sex"/>
      <result property="email" column="email"/>
      <result property="zip" column="zip"/>
      <result property="addr1" column="addr1"/>
      <result property="addr2" column="addr2"/>
      <result property="joinType" column="join_type"/>
      <result property="salary" column="salary"/>
      <result property="gartLevel" column="gart_level"/>
      <result property="putYn" column="put_yn"/>
      <result property="milYn" column="mil_yn"/>
      <result property="milType" column="mil_type"/>
      <result property="milLevel" column="mil_level"/>
      <result property="milStartdate" column="mil_startdate"/>
      <result property="milEnddate" column="mil_enddate"/>
      <result property="kosaRegYn" column="kosa_reg_yn"/>
      <result property="kosaClassCode" column="kosa_class_code"/>
      <result property="joinDay" column="join_day"/>
      <result property="retireDay" column="retire_day"/>
      <result property="crmName" column="crm_name"/>
      <result property="cmpRegNo" column="cmp_reg_no"/>
      <result property="cmpRegImage" column="cmp_reg_image"/>
      <result property="carrier" column="carrier"/>
      <result property="profileImage" column="profile_image"/>
      <result property="selfIntro" column="self_intro"/>
      <result property="posGbnCode" column="pos_gbn_code"/>
      <result property="deptCode" column="dept_code"/>
      <result property="joinGbnCode" column="join_gbn_code"/>
      <result property="carrierImage" column="carrier_image" />
   </resultMap>
</mapper>   

